<div class="container">
  <div class="mb-3">
    <label for="todo-item" class="form-label">Todo</label>
    <input type="text" class="form-control" id="todo-item" placeholder="Enter a Todo">
  </div>
  <div class="mb-3">
    <label for="todo-category" class="form-label">Category</label>
    <input type="text" class="form-control" id="todo-category" placeholder="Enter a Category">
  </div>
  <div class="mb-3">
    <label for="todo-priority-level" class="form-label">Priority Level</label>
    <input type="text" class="form-control" id="todo-priority-level" placeholder="High, Medium, or Low">
  </div>
  <div class="mb-3">
    <label for="todo-notes" class="form-label">Notes</label>
    <input type="text" class="form-control" id="todo-notes" placeholder="Enter Notes for Todo">
  </div>
</div>

