<div class="container">
  <h3>Enter a Task</h3>
  <hr />
  <!-- Todo Form -->
  <form (ngSubmit)="onSubmit(todoFormRef)" #todoFormRef="ngForm">
    <div class="mb-3">
      <label for="task-item" class="form-label">Task</label>
      <input
        type="text"
        class="form-control"
        id="taks-item"
        ngModel
        name="task"
        required
      />
    </div>
    <div class="mb-3">
      <label for="task-category" class="form-label">Category</label>
      <input
        type="text"
        class="form-control"
        id="task-category"
        ngModel
        name="category"
        required
      />
    </div>

    <div class="mb-3">
      <label for="task-notes" class="form-label">Notes</label>
      <!-- <input type="text" class="form-control" id="task-notes"  ngModel name="notes" required>
       -->
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <!-- Button...edit, save, delete -->
    <div class="btn-group mr-2" role="group">
      <button
        type="submit"
        class="btn btn-secondary"
        [disabled]="!todoFormRef.valid"
      >
        Save
      </button>
    </div>
  </form>
</div>
